.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
}

.lyricsContainer {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px; 
  border-radius: 10px; 
  text-align: center;
  height: 80%;
  width: 80%; 
  overflow: hidden;
  max-width: 800px; 
}
.title {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.lyrics {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Text shadow for readability */
  margin-top: 10px;
}

.lyrics div {
  animation: fadeIn 1s ease-in-out;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
